html.theme-dark .group-wWM3zP_M- {
    background-color: #364a6e !important;
}

html.theme-dark div.symbol-edit-popup {
    background-color: #364a6e !important;
    border-color: #364a6e !important;
}

html.theme-dark .tv-tabbed-dialog {
    background-color: #364a6e !important;
    border-color: #364a6e !important;
}

html.theme-dark .tv-search-row__input {
    background-color: #26344e !important;
    color: rgba(255, 255, 255, 0.87) !important
}

html.theme-dark .tv-control-input {
    background-color: #26344e !important;
    color: rgba(255, 255, 255, 0.87) !important
}

html.theme-dark .tv-control-input::placeholder {
    color: rgba(255, 255, 255, 0.54) !important
}

html.theme-dark .tv-dialog {
    background-color: #26344e !important;
    color: rgba(255, 255, 255, 0.87) !important
}

html.theme-dark .wrap-3tiHesTk- {
    height: 30px;
}

html.theme-dark .chart-page .chart-container {
    left: 0 !important;
}

html.theme-dark .layout__area--top {
    height: 30px !important;
    padding-right: 12px;
    box-sizing: border-box;
}

html.theme-dark .layout__area--center {
    top: 30px !important;
}

html.theme-dark .toolbar-2n2cwgp5- {
    padding: 0;
}

html.theme-dark .group-wWM3zP_M- {
    border-radius: 0 !important;
}

html.theme-dark .group-wWM3zP_M-:first-child {
    border-bottom-left-radius: 0;
}

html.theme-dark .overflowWrap-PWdgT-U_-{
    height: 30px;
}

html.theme-dark .chart-page{
    background-color: #26344e !important;
}

.loading-indicator{
    background-color: #26344e !important;
}