#info-pane {
  margin-top: 3;
  .ant-carousel {
    height: 100%;
    max-height: 400px;
    margin: 20px;
  }
  .ant-carousel .slick-slide {
    text-align: center;
    max-height: 400px;
    background: #364d79;
    overflow: hidden;
  }

  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

  .start {
    h1 {
      color: #ffffff;
      font-size: 42px;
      font-weight: 300;
    }

    h2 {
      color: #ffffff;
      font-size: 42px;
      font-weight: 500;
    }
    p {
      color: #ffffff;
      opacity: 0.6;
      font-size: 18px;
      font-weight: 300;
      line-height: 28px;
    }

    .create-account-button {
      @media screen and (max-width: 959px) {
        border-radius: '4px';
        border-left-style: 'solid';
      }

      text-transform: 'none';
      height: 50px;
      border-radius: 0 4px 4px 0;
      border: solid 1px rgba(255, 255, 255, 0.2);
      border-left-style: none;
      box-shadow: none;
      margin-bottom: 10px;
      font-size: 16px;
    }
  }

  .carousel-container {
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 40px;
  }
}

@media screen and (min-width: 600px) {
  #info-pane {
    padding-top: 50px;
    padding-bottom: 80px;
  }
}
